@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
header{
    background: #D7D5FF;
    width: 100vw;
    height: 560px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h1{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 131%;
    width: 350px;
    color: #2B2B2B;
    margin-bottom: 18px;
}
header p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 168%;
    text-align: justify;
    width: 390px;
    color: #555555;
    margin-bottom: 45px;
}
header button{
    background: #6C63FF;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    width: 155px;
    height: 50px;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}
header button:hover{
    opacity: .9;
}
header button:active{
    opacity: .6;
}

main{
    display: flex;
    width: 100vw;
    justify-content: center;
    /* align-items: center; */
}
main section{
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 150px;
    margin-bottom: 150px;
}
main div{
    width: 340px;
    height: 423px;
    background-color: #6C63FF;
}
.cardColor{
    width: 340px;
    height: 222px;
}
.cardText{
    height: 201px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
    padding-top: 24px;
}
.cardText p{
    width: 282px;
    height: 90px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #555555;
    padding-top: 26px;
}

footer{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: #D7D5FF;
}
footer h2{
    padding-top: 85px;
    padding-bottom: 60px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #2B2B2B;
    text-align: center;
}
footer section div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
input{
    width: 470px;
    height: 65px;
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(110, 114, 117, 0.74);
}
#messageBox{
    width: 470px;
    height: 165px;
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-top: 21px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(110, 114, 117, 0.74);
    resize: none
}

footer button{
    width: 471px;
    height: 50px;
    background: #6C63FF;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}
footer button:hover{
    opacity: .9;
}
footer button:active{
    opacity: .6;
}

/* RESPONSIVIDADE */    

@media screen and (max-width: 900px) {
    header{
        flex-direction: column;
        height: fit-content;
    }
    header h1{
        padding-top: 55px;
        width: 95%;
        padding-left: 20px;
    }
    header p{
        width: 90vw;
        text-align: justify;
        line-height: normal;
        padding-left: 20px;
    }
    header button {
        margin-left: 20px;
        margin-bottom: 20px;
    }
    header img{
        width: 80%;
        text-align: center;
        margin-bottom: 10px;
    }
    footer{
        width: 100vw;
    }
    footer input{
        width: 100%;
    }
    footer button{
        width: 100%;
    }
    #messageBox{
        width: 90vw;
    }
}